---
layout: default
title: Public Speaking
permalink: /events/
---
<p>I like sharing my experiences and ideas with others. Below you will find a collection of my public appearences - talks, podcasts, interviews...</p>

<dl class="events">
{% assign year = 0 %}
{% for event in site.events reversed %}
  {% assign current_year = event.date | date: "%Y" %}
  {% if current_year != year %}
    <h2>{{ current_year }}</h2>
    {% assign year = current_year %}
  {% endif %}
  {% assign content = event.content | strip_newlines %}
  <dt class="{{ event.type }}">{{ event.date | date_to_string }}{% if event.location %}, {{event.location}}{% endif %} </dt>
  <dd>
    {% if event.lang %}
      {% capture title %} {{event.title}} [{{event.lang}}] {% endcapture %}
    {% else %}
      {% capture title %} {{event.title}} {% endcapture %}
    {% endif %}
    {{ event.name }}:
    {% if content != empty %}<a href="{{event.url}}"><b>{{ title }}</b></a>
    {% elsif event.link %} <a href="{{event.link}}" target="_blank"><b>{{ title }}</b></a>
    {% else %} <b>{{ title }}</b>
    {% endif %}

    {% if event.links %}
    {% for link in event.links %}
    <a href="{{link.link}}" target="_blank" class="event-link-{{link.type}}"><span>{{link.type}}</span></a>
    {% endfor %}
    {% endif %}

    <!-- {% unless content == empty %} <a href="{{ event.url }}">{{ event.type }}</a> {% endunless %} -->
  </dd>

{% endfor %}
</dl>