@use "pico/colors/utilities" with (
  $palette: (
    "color-families": (
      slate
    ),
  ),
  $utilities: (
    "background-colors": false,
  )
);

:root {
  --pico-spacing: 1.6rem;
  --pico-typography-spacing-vertical: 2rem;
  --pico-font-family: "Spectral", "Georgia", "Cambria", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
  --logo-color: white;
}

blockquote {
  --pico-blockquote-border-color: var(--pico-color-slate-100);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", var(--pico-font-family-sans-serif);
}

h1 {
  font-weight: 800;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

main.container {
  min-height: 80vh;
}

nav {
  padding-left: 2vw;
  padding-right: 2vw;
  background-color:  var(--pico-primary-background);
  font-family: "Lexend", var(--pico-font-family-sans-serif);
  a {
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
  }

  a.current {
    color: var(--pico-color-slate-800);
    font-weight: 900;
    border: none;
  }

  a.current:hover {
    text-decoration: none;
  }

  strong {
    font-weight: 800;
    color: var(--logo-color);
  }

}

body > footer {
  --pico-block-spacing-vertical: 6rem;
  padding-bottom: 2rem;
  font-family: var(--pico-font-family-sans-serif);
  background: var(--pico-primary-background);
  font-size: 0.6rem;
  color: var(--pico-color-slate-800);

  a {
    color: var(--pico-color-slate-200);
  }
}

a {
  transition-duration: 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: var(--pico-color-slate-100);
}

.front-page {
  hgroup {
    h1 {
      --pico-font-size: 3rem;
      --pico-color: var(--logo-color);
    }
  }

}

i.fa-spotify {
  color: #1ED760
}

header.front-page {
  background: var(--pico-primary-background);
}

.right {
  text-align: right;
}

.flags {
  text-align: right;
  position: relative;
  top: calc(var(--pico-block-spacing-vertical)* -1);
}

img.img-speaking {
  border-radius: 3rem;
}