@use "sass:map";

@use "pico" with (
  $enable-semantic-container: false,
  $enable-responsive-spacings: true,
  $modules: (
    "forms/basics": false,
    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,s
    "components/accordion": false,
    "components/dropdown": false,
    "components/loading": false,
    "components/progress": false
  ),
  $theme-color: "pink",
  $breakpoints:
  (
    xxl: false
  )
);

@use '_styles';

p.flags {

  padding-left: 16rem;

  @media (max-width: map.get(map.get(pico.$breakpoints, "sm"), "breakpoint")) {
    padding-left: 4rem;  
  }
}

// // $primary-hue: 223;
// // // $primary-600: hsl(223, 54%, 25%);

// // @import "pico/pico.scss";

// // // #8C1932

// // small {
// //   --font-size: 0.6rem;
// // }

// // blockquote {
// //   footer {
// //     text-align: right;
// //   }
// // }

// // img#logo {
// //   width: 3rem;
// // }

// footer#site {
//   background-color: #8c1932;
//   background: linear-gradient(45deg, #1e3264 0%, #8c1932 100%);
//   small {
//     div {
//       text-align: center;
//       line-height: 1.2rem;
//     }
//   }
// }

// // dt.podcast::after {
// //   content : " 🎧";
// // }

// // dt.conference::after {
// //   content : " 🗣";
// // }

// // dd {
// //   padding-bottom: 0.8rem;
// // }

// body > footer {
//   font-size: 0.6rem;
// }

// figure > figcaption {
//   font-size: calc(var(--font-size) * 0.8);
// }

// figure {
//   border: 1px solid var(--card-border-color);
//   border-radius: var(--border-radius);
//   padding: 0.5em;
//   display: inline-block;
// }

// nav {
//   padding-left: 2em;
//   padding-right: 2em;
//   background-color: #8c1932;
//   background: linear-gradient(45deg, #1e3264 0%, #8c1932 100%);
//   a {
//     color: white;
//   }
//   a.current {
//     text-decoration:overline;
//     text-decoration-style: dotted;
//   }
// }

// .right {
//   text-align: right;
// }

// dl.events {
//   dt {
//     padding-top: 1em;
//   }
// }

// // footer {
// //   [role="button"] {
// //     --background-color: white;
// //     --border-color: white;
    
// //     &:hover,
// //     &:active,
// //     &:focus {
// //       --background-color: silver;
// //       --border-color: silver;
// //     }
// //   }
// // }

// // .current {
// //   color: #8c1932;
// // }

// // .clip-circle {
// //   clip-path: circle(50% at center);
// // }
