<!doctype html>
<html lang="{{ site.lang }}">
{%- include head.html -%}
<body>
  {%- include nav.html -%}
  <main class="container">
    <article>
      <header>
        <hgroup>
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
        </hgroup>
      </header>
      {{ content }}
      <footer>
        <small>Published on <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ page.date | date: '%A, %e %B %Y' }}</time> by <span>{{ page.author }}</span></small>
        <br>
        Tags: 
        {% for tag in page.tags %}
        <code>{{ tag }}</code>
        {% endfor %}
      </footer>
    </article>
  </main>
  <footer>
    {%- include footer.html -%}
  </footer>
</body>
</html>
