<!doctype html>
<html lang="{{ site.lang }}">
{%- include head.html -%}
<body>
  {%- include nav.html -%}
  <main>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ page.date | date: '%A, %e %B %Y' }}</time>
        <span>- {{ page.author }}</span>
      </header>
      {{ content }}
      <footer>
        Tags: 
        {% for tag in page.tags %}
        <code>{{ tag }}</code>
        {% endfor %}
      </footer>
    </article>
  </main>
  <footer>
    {%- include footer.html -%}
  </footer>
</body>
</html>
