<!doctype html>
<html lang="{{ site.lang }}">
  {%- include head.html -%}
  <body>
    {%- include nav.html -%}
    <main>
    {{ content }}
    <section class="right">
      <p>
        <a href="https://www.linkedin.com/in/mfloryan/" target="_blank" rel="external" title="Marcin on LinkedIn"
            aria-label="Marcin on LinkedIn"><i class="fa-brands fa-linkedin fa-2xl" aria-hidden="true"></i></a>
        <a href="https://mstdn.social/@mfloryan" target="_blank" rel="me" title="@mfloryan@mstdn.social"
            aria-label="Marcin on Mastodon"><i class="fa-brands fa-mastodon fa-2xl" aria-hidden="true"></i></a>
        <a href="https://twitter.com/mfloryan" target="_blank" rel="external" title="@mfloryan"
            aria-label="Marcin on Twitter"><i class="fa-brands fa-twitter fa-2xl" aria-hidden="true"></i></a>
        <a href="https://github.com/mfloryan" target="_blank" rel="external" title="Marcin on GitHub"
            aria-label="Marcin on GitHub"><i class="fa-brands fa-github fa-2xl" aria-hidden="true"></i></a>
    </p>
    </section>
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
